h1{
    color: red;
    padding-right: 1rem;
}

#wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5px;
    border: 5px solid darkgray;
    border-radius: 4px;
    box-shadow: 0, 10px, 10px, rgba(0,0,0,0.2);
    background-color: whitesmoke;
}